<mat-card *ngIf="bouteille" [ngClass]="{'text-center': !modePleinEcran}">
    <div [ngClass]="{'flex': modePleinEcran}" class="px-3">
      <!-- Display the details of the bouteille object -->
      <img class="mb-1 mt-3 mx-auto h-[200px]"
        [ngClass]="{'h-200': !modePleinEcran, 'h-[360px] ml-3 mb-3': modePleinEcran}"
        [src]="bouteille.url_img" alt="">
      <div class="w-full"
        [ngClass]="{'px-8 py-3 flex flex-col justify-between': modePleinEcran}">
        <div>
          <p class="truncate hover:whitespace-normal">{{bouteille.nom}}</p>
          <p *ngIf="modePleinEcran">{{bouteille.garde}}</p>
        </div>
        <div class="flex justify-between px-3">
          <button mat-mini-fab color="primary" (click)="modifierBouteille(bouteille.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="supprimerBouteille(bouteille.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card>
