<mat-card *ngIf="bouteille">
    <div >
        <img class="bouteilleImg" [src]="bouteille.url_img" alt="" (click)="navigateToBouteille(bouteille.id)">
        <div>
            <mat-card-header>
                <p class="link" (click)="navigateToBouteille(bouteille.id)">{{bouteille.nom }}</p>
            </mat-card-header>
            <mat-card-content>
                <span class="price">{{ bouteille.prix | currency }}</span>
                <div class="share">
                    <div id="facebook-share-button-container"></div>
                    <button (click)="onAjouterAuPanier()">
                        <mat-icon>shopping_cart</mat-icon>
                    </button>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="openAjouterBouteilleDialog(bouteille.id)">Ajouter au cellier</button>
            </mat-card-actions>
            <mat-card-footer>
                <button mat-mini-fab color="accent" class="btnEdit" (click)="openModifierBouteilleDialog(bouteille.id)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn" class="btnEdit" (click)="supprimerBouteille(bouteille.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-footer>
        </div>
    </div>
</mat-card> 