<mat-drawer-container [autosize]="true">
    <mat-drawer mode="side" opened >
        <app-filtres (showType)="onVoirType($event)" (showFormat)="onVoirFormat($event)" (showPays)="onVoirPays($event)"></app-filtres>
    </mat-drawer>
    <mat-drawer-content>
        <button mat-raised-button color="primary" (click)="getNouvelleBouteilles()">Ajouter des bouteilles</button>
        <div class="actions">
            <app-bouteilles-entete
            (triChangement)="onTriChangement($event)"
            ></app-bouteilles-entete>
            <input type="text" placeholder="Recherche" (keyup)="recherche($event)" class="searchBar">
        </div>
        <mat-grid-list gutterSize="16" [cols]="3" [rowHeight]="450">
            <ng-container *ngIf="bouteilles">
                <ng-container *ngFor="let bouteille of bouteilles">
                    <mat-grid-tile *ngIf="bouteille.actif">
                        <app-une-bouteille
                            [bouteille]="bouteille"
                            (bouteilleSupprime)="supprimerBouteille($event)"
                            (bouteilleModifiee)="modifierBouteille($event)">
                        </app-une-bouteille>
                    </mat-grid-tile>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="bouteilles && bouteilles.length! == 0">
                <p>Aucune bouteille pour le moment.</p>
            </ng-container>

            <div *ngIf="isChargement">
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </div>
            <div *ngIf="!isChargement">
            </div>
        </mat-grid-list>
        <app-erreur></app-erreur>
    </mat-drawer-content>
</mat-drawer-container>