<mat-drawer-container
[autosize]="true"
class="min-h-full max-w7xl mx-auto border-x"
>
    <mat-drawer mode="side" opened class="p-6">
        <app-filtres (showType)="onShowType($event)"></app-filtres>
    </mat-drawer>
    <mat-drawer-content class="p-6">
        <app-bouteilles-entete
        (columnsCountChange)="onColumnsCountChange($event)"
        (itemsCountChange)="onItemsCountChange($event)"
        (sortChange)="onSortChange($event)"
        ></app-bouteilles-entete>
        <mat-grid-list
            gutterSize="16"
            [cols]="cols"
            [rowHeight] = 'rowHeight'
            >
            <mat-grid-tile *ngFor="let bouteille of bouteilles">
                <app-une-bouteille
                [bouteille]="bouteille"
                (addToCart)="onAddToCart($event)"
                class="w-full"
                [fullWidthMode]="cols === 1"></app-une-bouteille>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-drawer-content>
</mat-drawer-container>