


<div class="wrapper" *ngIf="bouteille">
   <h1>{{bouteille.nom}}</h1>
   <div class="details__container">
      <picture class="details__image">
         <img src="{{bouteille.url_img}}" alt="">
      </picture>
      <div class="details__content">
         <p><strong>Type : </strong> {{bouteille.type}}</p>
         <p><strong>Pays : </strong> {{bouteille.pays}}</p>
         <p><strong>Format : </strong>{{bouteille.format}}</p>
         <p><strong>Prix : </strong> {{bouteille.prix}} $</p>

      </div>
   </div>
   <a href="{{bouteille.url_saq}}" target="_blank">Voir la bouteille</a>

   <form [formGroup]="formBouteille">
      <mat-form-field appearance="fill">
         <mat-label>Commentaire :</mat-label>
         <input matInput formControlName="commentaire" type="text" />
      </mat-form-field>
      <button class="buttonSend" mat-raised-button color="primary" (click)="envoyerCommentaire()">Envoyer</button>
   </form>

    <ng-container *ngFor="let nc of bouteille.noteCommentaire">
      <div class="noteBox">
         <p>Note:{{nc.note}}</p>
         <p>Commentaire: {{nc.commentaire}}</p>
      </div>
   </ng-container>

</div>




