


<div class="wrapper" *ngIf="bouteille">
   <h1>{{bouteille.nom}}</h1>
   <div class="details__container">
      <picture class="details__image">
         <img src="{{bouteille.url_img}}" alt="">
      </picture>
      <div class="details__content">
         <p><strong>Type : </strong> {{bouteille.type}}</p>
         <p><strong>Pays : </strong> {{bouteille.pays}}</p>
         <p><strong>Format : </strong>{{bouteille.format}}</p>
         <p><strong>Prix : </strong> {{bouteille.prix}} $</p>

      </div>
   </div>
   <a href="{{bouteille.url_saq}}" target="_blank" class="link">Voir la bouteille sur le site de la SAQ</a>

   <form [formGroup]="formBouteille">
      <mat-form-field appearance="fill" class="note">
         <mat-label>Note :</mat-label>
         <input matInput formControlName="note" type="number">
         <mat-error *ngIf="formBouteille.get('note')!.invalid && formBouteille.get('note')!.touched">
            Veuillez entrer une note entre 1 et 5.
         </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
         <mat-label>Commentaire :</mat-label>
         <input matInput formControlName="commentaire" type="text" />
      </mat-form-field>


      <button class="buttonSend" mat-raised-button color="primary" (click)="envoyerCommentaire()" [disabled]="!formBouteille.dirty || !formBouteille.valid">Envoyer</button>
   </form>

    <ng-container *ngFor="let nc of note_commentaires">
      <div class="noteBox">
         <p *ngIf="nc.note">Note: {{nc.note}}</p>
         <p *ngIf="nc.commentaire">Commentaire: {{nc.commentaire}}</p>
      </div>
   </ng-container>

</div>




