<mat-toolbar color="primary">
    <div class="logo">
        <a routerLink="/accueil" class="nav-link">Vino</a>
    </div>
    <nav>
        <a routerLink="/accueil" class="nav-link">Catalogue</a>
        <a routerLink="/cellier" class="nav-link">Mes Celliers</a>
    </nav>
    <div class="actions">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon
                [matBadge]="itemsQuantite"
                [matBadgeHidden]="!itemsQuantite"
                matBadgeColor="accent">shopping_cart
            </mat-icon>
        </button>
        <a routerLink="/connexion" mat-raised-button (click)="deconnexion()" class="logout">Déconnexion</a>
    </div>
    <mat-menu #menu="matMenu">
        <div class="menu">
            <div class="menu__header">
                <span>{{ itemsQuantite }} Items</span>
                <a routerLink="panier">Voir Panier</a>
            </div>
            <div *ngIf="panier.items.length">
                <div *ngFor="let item of panier.items" class="menu__item">
                    {{ item.nom }} x {{ item.quantite }}
                    <span>{{ item.prix | currency }}</span>
                </div>
            </div>
            <div class="menu__total">
                Total:
                <span>{{ getTotal(panier.items) | currency}}</span>
            </div>
            <div class="menu__actions">
                <button mat-mini-fab (click)="onViderPanier()" color="warn">
                    <mat-icon>remove_shopping_panier</mat-icon>
                </button>
                <button mat-mini-fab routerLink="panier" color="primary">
                    <mat-icon>shopping_panier</mat-icon>
                </button>
            </div>
        </div>
    </mat-menu>
</mat-toolbar>