mat-toolbar {
   display: flex;
   justify-content: space-between;
   font-size: 24px;
   padding-inline: 1.5rem;
   height:100px;

   nav > a+a,.logout {
      margin-left: min(30px, 5em);
   }

   .nav-link {
      position: relative;
    }

    .nav-link::after {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #f3eba0;
      border-radius: 8px;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }

    .nav-link:hover::after {
      transform: scaleX(1);
    }

    .actions{
      display: flex;
      align-items: center;
      a {
        font-size: 16px;
      }
    }
}

.menu__total {
  display: flex;
  justify-content: space-between;
  padding-top: 0.75rem;
  font-weight: 300;
}

.menu__total::before {
  content: "Total:";
}

.menu__total span {
  font-weight: bold;
}

.menu__item {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0;
}

.menu__item span {
  font-weight: bold;
}

.menu__actions {
  padding-top: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu__header {
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menu__header span {
  margin-right: 1rem;
}

.menu__header a {
  color: #5a9929; /* Replace with your desired link color */
  text-decoration: none;
  font-weight: 600;
}
.menu {
  padding: 0.75rem;
  border-width: 1px;
  border-style: solid;
}
.menu>div::after, .menu__header::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #e5e7eb; /* Replace with your desired border color */
  margin-top: 0.75rem;
}

.menu__header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #e5e7eb; /* Replace with your desired border color */
}