<div class="wrapper">
  <h2>Liste des erreurs signalées par les utilisateurs</h2>
  <ng-container *ngIf="erreurs.length > 0">
    <ng-container *ngFor="let erreur of erreurs">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Écrit par : <strong>{{erreur.nom_user}}</strong>
          </mat-panel-title>
          <mat-panel-description>
            {{erreur.created_at}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{erreur.erreur}}</p>
        <button mat-button color="warn" (click)="removeErreur(erreur)">
          Erreur corrigé
        </button>
      </mat-expansion-panel>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="erreurs.length === 0">
    <p>Aucune erreur signalée</p>
  </ng-container>

    <ng-container  *ngIf="stats">
      <h2>Type et Pays</h2>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Pays
          </mat-panel-title>
          <mat-panel-description>
            Nombre de pays : {{decompte_pays.length}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let pays of decompte_pays">
          <div class="flex">
            <p class="ligne">{{pays.pays}}: </p><p>{{pays.decompte}} bouteilles</p>
          </div>
        </ng-container>
      </mat-expansion-panel><mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Type
          </mat-panel-title>
          <mat-panel-description>
            Nombre de type : {{decompte_types.length}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let type of decompte_types">
          <div class="flex">
            <p class="ligne">{{type.type}} : </p> <p>{{type.decompte}} bouteilles</p>
          </div>
        </ng-container>
      </mat-expansion-panel>
    <h2>Utilisateurs</h2>
    <p><strong>Nombre d'utilisateurs : </strong>{{users.length}}</p>
    <ng-container *ngFor="let user of users">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{user.utilisateur}}
          </mat-panel-title>
          <mat-panel-description>
            Nombre de cellier : {{user.celliers.length}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let cellier of user.celliers">
          <div class="flex">
            <p><strong>{{cellier.nom}}</strong> : </p><p>{{cellier.nombre_bouteilles}} bouteilles</p>
          </div>
        </ng-container>
        <button *ngIf="users.length !== 1" mat-raised-button color="warn" (click)="supprimeUser(user.id)">Supprimmer l'utilisateur</button>
      </mat-expansion-panel>
      </ng-container>
  </ng-container>
</div>

