<div class="atterissage__container">
    <picture>
        <img src="../../../assets/img/logo-no-background.svg" alt="logo">
    </picture>
    <div class="atterissage__content">
        <h1>Profitez du plaisir de créer vos celliers et de goûter du vin !</h1>
        <p>Avec Vino vous aurez la possibilité de gérer un ou des celliers de vin. Ainsi, vous aurez l'opportunité de
            gérer vos bouteilles de vin à partir de cette application Web. Ainsi, avec l'application, vous pouvez
            consulter les bouteilles que vous possèdez dans votre/vos cellier(s) et y modifier la quantité de bouteilles
            s’y trouvant.</p>
        <button mat-raised-button routerLink="/connexion">Démarrer</button>
    </div>
</div>