<div class="enregistrement__container">
  <h1>Créer un compte</h1>
  <ng-container *ngIf="formConnexion">
    <form [formGroup]="formConnexion">
      <mat-form-field appearance="fill">

        <mat-label>Nom :</mat-label>
        <input matInput formControlName="name" type="text" />
        <mat-error *ngIf="formConnexion.controls['name'].hasError('required')">Le nom est requis.</mat-error>
        <mat-error *ngIf="formConnexion.controls['name'].hasError('minlength')">Le nom doit contenir au moins 3
          caractères.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Courriel :</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="formConnexion.controls['email'].hasError('required')">L'adresse courriel est
          requise.</mat-error>
        <mat-error *ngIf="formConnexion.controls['email'].hasError('email')">L'adresse courriel est invalide.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Mot de passe :</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="formConnexion.controls['password'].hasError('required')">Le mot de passe est requis.</mat-error>
        <mat-error *ngIf="formConnexion.controls['password'].hasError('invalidPassword')"> Le mot de passe doit contenir
          au moins une lettre minuscule, une lettre majuscule, un chiffre et un caractère spécial (!@#$%^&*).
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirmer le mot de passe :</mat-label>
        <input matInput formControlName="password_confirmation" type="password" />

        <mat-error *ngIf="formConnexion.hasError('passwordMismatch')">Les mots de passe ne correspondent pas.</mat-error>
      </mat-form-field>

      <div class="action">
        <div class="action__group">
          <button mat-raised-button color="primary" (click)="creerUnCompte()"
            [disabled]="!formConnexion.dirty || !formConnexion.valid">Créer un compte</button>
        </div>
      </div>
    </form>
    <a mat-button routerLink="/connexion">Vous avez déjà un compte? Cliquer ici.</a>
  </ng-container>
</div> 

<div class="enregistrement__img image__container"></div>