<div class="enregistrement__container">
  <h1>Créer un compte</h1>
  <ng-container *ngIf="formConnexion">
    <form [formGroup]="formConnexion">
      <mat-form-field appearance="fill">


      <mat-label [ngStyle]="{'color': labelColor}">Nom :</mat-label>
      <input matInput formControlName="name" type="text" />
      <mat-error *ngIf="formConnexion.controls['name'].hasError('required')">Le nom est requis.</mat-error>
      <mat-error *ngIf="formConnexion.controls['name'].hasError('minlength')">Le nom doit contenir au moins 3
        caractères.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label [ngStyle]="{'color': labelColor}">Courriel :</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error *ngIf="formConnexion.controls['email'].hasError('required')">L'adresse courriel est
        requise.</mat-error>
      <mat-error *ngIf="formConnexion.controls['email'].hasError('email')">L'adresse courriel est invalide.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label [ngStyle]="{'color': labelColor}">Mot de passe :</mat-label>
      <input [type]="passwordVisible ? 'text' : 'password'" matInput formControlName="password" type="password" />
      <button mat-icon-button matSuffix (click)="passwordVisible = !passwordVisible" [attr.aria-label]="passwordVisible ? 'Hide password' : 'Show password'">
        <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="formConnexion.controls['password'].hasError('required')">Le mot de passe est requis.</mat-error>
      <mat-error class="buzz" *ngIf="formConnexion.controls['password'].hasError('invalidPassword')"> Le mot de passe doit contenir
        au moins une lettre minuscule, une lettre majuscule, un chiffre et un caractère spécial (!@#$%^&*).
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label [ngStyle]="{'color': labelColor}">Confirmer le mot de passe :</mat-label>
      <input [type]="passwordVisible1 ? 'text' : 'password'" matInput formControlName="password_confirmation" type="password" />
      <button mat-icon-button matSuffix (click)="passwordVisible1 = !passwordVisible1" [attr.aria-label]="passwordVisible1 ? 'Hide password' : 'Show password'">
        <mat-icon>{{ passwordVisible1 ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
        <mat-error *ngIf="formConnexion.hasError('passwordMismatch')">Les mots de passe ne correspondent pas.</mat-error>
      </mat-form-field>

      <div class="action">
        <div class="action__group">
          <button mat-raised-button color="primary" (click)="creerUnCompte()"
            [disabled]="!formConnexion.dirty || !formConnexion.valid">Créer un compte</button>
        </div>
      </div>
    </form>
    <div class="linky">
      <p> Vous avez déjà un compte?</p> <a class="link" mat-button routerLink="/connexion">Cliquer ici.</a>
    </div>
  </ng-container>
</div>

<div class="enregistrement__img image__container"></div>