:host {
   color: #5a9929;
   @media screen and (min-width: 600px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
}
.connexion__container, .enregistrement__container {
   display: flex;
   flex-direction: column;
   text-align: center;
   height: 100vh;
   padding: 25vh 0;
   background-color: #fdfcf2;

   h1 {
      font-size: 3.5em;
      font-family: Literata;
      margin-bottom: 60px;
   }

   form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;
      margin-bottom: 32px;
   }
}

.image__container {
   display: none;
   @media screen and (min-width: 600px) {
      display: block;
      background-color: #888;
      background-blend-mode: multiply;
      background-attachment: fixed;
      background-repeat: no-repeat;
      
      
      color: white;
      text-align: center;
      padding: 10vh 3em;
   }
}

.connexion__img {
   @media screen and (min-width: 600px) {
      background-image: url(./../../../assets/img/wine_splash.jpg);
      background-position: center center;
      background-size: cover;
   }
}

.enregistrement__img {
   @media screen and (min-width: 600px) {
      background-image: url(./../../../assets/img/wine_pour.jpg);
      background-position: center center;
      background-size: cover;

   }
}
.mat-form-field-appearance-fill .mat-form-field-label {
   color: rgba(0, 0, 0, 0.54);
 }

 .mat-form-field-appearance-fill.mat-focused .mat-form-field-label {
   color: black;
 }
