<div class="connexion__container">
  <h1>Connexion</h1>
  <ng-container *ngIf="formConnexion">
    <form [formGroup]="formConnexion">
      <mat-form-field appearance="fill">
        <mat-label [ngStyle]="{'color': labelColor}">Courriel :</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="formConnexion.controls['email'].hasError('required')">
          L'adresse e-mail est requise.
        </mat-error>
        <mat-error *ngIf="formConnexion.controls['email'].hasError('email')">
          L'adresse e-mail n'est pas valide.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label [ngStyle]="{'color': labelColor}">Mot de passe :</mat-label>
        <input matInput [type]="passwordVisible ? 'text' : 'password'" formControlName="password" type="password" />
        <button mat-icon-button matSuffix (click)="passwordVisible = !passwordVisible" [attr.aria-label]="passwordVisible ? 'Hide password' : 'Show password'">
          <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="formConnexion.controls['password'].hasError('required')">
          Le mot de passe est requis.
        </mat-error>
        <mat-error *ngIf="formConnexion.controls['password'].hasError('invalidPassword')">
          Le mot de passe doit contenir au moins une lettre minuscule, une lettre majuscule, un chiffre et un caractère spécial (!@#$%^&*).
        </mat-error>
      </mat-form-field>


      <div class="action">
        <div class="action__group">
          <button mat-raised-button color="primary" (click)="connexion()"
            [disabled]="!formConnexion.dirty || !formConnexion.valid">Me connecter</button>
        </div>
      </div>
    </form>
  </ng-container>
  <p>Vous n'avez pas encore de compte?<a mat-button routerLink="/creer-un-compte">Cliquer ici.</a></p>
</div>

<div class="connexion__img"></div>