<mat-drawer-container
[autosize]="true"
class="min-h-full max-w7xl mx-auto border-x"
>
    <mat-drawer mode="side" opened class="p-6">
        <!--
            <app-filtres (voirType)="onVoirType($event)"></app-filtres>
        -->
    </mat-drawer>
    <mat-drawer-content class="p-6">
        <app-celliers-entete
        (colonneNombreChangement)="onColonneNombreChangement($event)"
        (itemsNombreChangement)="onItemsNombreChangement($event)"
        (triChangement)="onTriChangement($event)"
        ></app-celliers-entete>
        <app-nouveau-cellier>

        </app-nouveau-cellier>
        <mat-grid-list
            gutterSize="16"
            [cols]="cols"
            [rowHeight] = 'hauteurRangee'
            >
            <mat-grid-tile *ngFor="let cellier of celliers">
                <app-un-cellier
                [cellier]="cellier"
                (ajouterAuPanier)="onAjouterAuPanier($event)"
                class="w-full"
                [modePleinEcran]="cols === 1"></app-un-cellier>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-drawer-content>
</mat-drawer-container>