<mat-expansion-panel color="#fdfcf2" *ngIf="types">
    <mat-expansion-panel-header color="#fdfcf2">
        <mat-panel-title>TYPES</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list [multiple]="true">
        <mat-list-option *ngFor="let type of types" [value]="type.id" (click)="onVoirType(type)">
            {{type.type}}
        </mat-list-option>
    </mat-selection-list >
</mat-expansion-panel>


<mat-expansion-panel  *ngIf="formats">
    <mat-expansion-panel-header color="#fdfcf2">
        <mat-panel-title>FORMATS</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list [multiple]="true">
        <mat-list-option *ngFor="let format of formats" [value]="format.id" (click)="onVoirFormat(format)">
            {{format.format}}
        </mat-list-option>
    </mat-selection-list>
</mat-expansion-panel>

<mat-expansion-panel  *ngIf="pays">
    <mat-expansion-panel-header color="#fdfcf2">
        <mat-panel-title>PAYS</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list [multiple]="true">
        <mat-list-option *ngFor="let pays of pays" [value]="pays.id" (click)="onVoirPays(pays)">
            {{pays.pays}}
        </mat-list-option>
    </mat-selection-list >
</mat-expansion-panel>

