<mat-expansion-panel *ngIf="types">
    <mat-expansion-panel-header>
        <mat-panel-title>TYPES</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let type of types" [value]="type" (click)="onVoirType(type)">
            {{type.type}}
        </mat-list-option>
    </mat-selection-list >
</mat-expansion-panel>


<mat-expansion-panel *ngIf="formats">
    <mat-expansion-panel-header>
        <mat-panel-title>FORMATS</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let format of formats" [value]="format" (click)="onVoirFormat(format)">
            {{format.format}}
        </mat-list-option>
    </mat-selection-list >
</mat-expansion-panel>

<mat-expansion-panel *ngIf="pays">
    <mat-expansion-panel-header>
        <mat-panel-title>PAYS</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let pays of pays" [value]="pays" (click)="onVoirPays(pays)">
            {{pays.pays}}
        </mat-list-option>
    </mat-selection-list >
</mat-expansion-panel>

