<mat-card *ngIf="cellier" [ngClass]="{'text-center': !modePleinEcran}">
    <div [ngClass]="{'flex': modePleinEcran}" class="px-3">
        <div class="w-full"
        [ngClass]="{'px-8 py-3 flex flex-col justify-between': modePleinEcran}">
            <div>
                <h5>{{cellier.nom }}</h5>
                <p class="truncate hover:whitespace-normal">{{cellier.id_couleur }}</p>
                <p *ngIf="modePleinEcran">{{cellier.id_user }}</p>
            </div>
            <div class="flex justify-between px-3">
                <button (click)="onSupprimerCellier(cellier.id)">
                    <mat-icon class="text-gray-500">delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-card>

