:host{
    padding: 0 10px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 0 1.5em;
    margin: 0 auto;
    margin-top: 30px;
}

p{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.mat-form-field-appearance-fill .mat-form-field-label {
    color: rgba(0, 0, 0, 0.54); 
  }

  .mat-form-field-appearance-fill.mat-focused .mat-form-field-label {
    color: black;
  }