/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Literata:wght@400;500&family=Poppins:wght@400;500;600&display=swap');

:root{
    --mdc-typography-button-font-family: Poppins
}
html,
body {
    height: 100%;
}

body,html {
    margin: 0;
    font-family: Literata, "Helvetica Neue", sans-serif;
}

*{
    font-family: Literata;
}
